<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tablinks"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Mood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Mood</h3>
  
  <!--Example List - Static-->
  <ion-list>
    <ion-item>
      <ion-label>Thunderstruck - ACDC</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Yonkers - Tyler, the Creator</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Photograph - Ed Sheeran</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Slow Dancing in the Dark - Joji</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>All of the Lights - Kanye West</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
