h3 {
    text-align: center;
    cursor: pointer;
}

h4, p {
    text-align: center;
}

.moodButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.title {
    text-align: center;
}

#usernameDisplay {
    text-align: center;
}

.logoutButton {
    float: right;
    width: 20%;
}